nodered/camera.flow
[{"id":"cb56d4e4.b477c8","type":"switch","z":"1d48da06.282e46","name":"Click","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"error","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":2,"x":950,"y":80,"wires":[[],["6f2f681b.1d8dd8","ef3eb4e5.6bb798"]]},{"id":"55ffc0b5.c33cf","type":"debug","z":"1d48da06.282e46","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":1050,"y":300,"wires":[]},{"id":"91e0221a.82333","type":"link out","z":"1d48da06.282e46","name":"","links":["cb0d9ce4.bce98","dd5cc0ae.9a8b5"],"x":1155,"y":420,"wires":[]},{"id":"3bb7a609.37baca","type":"comment","z":"1d48da06.282e46","name":"Did the text include a color?","info":"This flow requires the \nnode-red-node-pi-neopixel \nnpm package.","x":1260,"y":460,"wires":[]},{"id":"6f2f681b.1d8dd8","type":"file","z":"1d48da06.282e46","name":"Save photo.jpg","filename":"/tmp/photo.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1140,"y":80,"wires":[]},{"id":"acee42d9.990d8","type":"comment","z":"1d48da06.282e46","name":"Remember to keep the .jpg < 2MB","info":"","x":720,"y":160,"wires":[]},{"id":"dc982ac6.e0f6d8","type":"comment","z":"1d48da06.282e46","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1180,"y":200,"wires":[]},{"id":"794b8ce1.fceb84","type":"inject","z":"1d48da06.282e46","name":"Test TJBot RaspPi Photo","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":140,"wires":[["ab867703.c8e3f8"]]},{"id":"ab867703.c8e3f8","type":"function","z":"1d48da06.282e46","name":"Set Photo File name","func":"// Set msg.filemode=\"0\" for no file and buffer mode - \n// puts the picture into msg.payload as an raw binary object\n\n// Override msg.filename with the filename\n// Override msg.filepath with the filepath\n\nmsg.filemode=\"0\";\nmsg.filename=\"photo.jpg\";\nmsg.filepath=\"/tmp\";\nmsg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["a5dba18a.bc5fc"]]},{"id":"841a052a.39be58","type":"comment","z":"1d48da06.282e46","name":"Text Extraction","info":"","x":120,"y":260,"wires":[]},{"id":"3f363ebd.2fa022","type":"comment","z":"1d48da06.282e46","name":"Image Classification","info":"","x":130,"y":420,"wires":[]},{"id":"513072d3.4d736c","type":"debug","z":"1d48da06.282e46","name":"What did Watson find?","active":true,"console":"false","complete":"template","x":1240,"y":380,"wires":[]},{"id":"6b56616.08f6aa","type":"visual-recognition-v3","z":"1d48da06.282e46","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":770,"y":380,"wires":[["7443e27d.438e3c","55ffc0b5.c33cf"]]},{"id":"7443e27d.438e3c","type":"function","z":"1d48da06.282e46","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.template=msg.template+\"table {    width: 440px;    margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[["78f60c15.9c5ff4","513072d3.4d736c","91e0221a.82333"]]},{"id":"b0ac8b45.d60608","type":"file in","z":"1d48da06.282e46","name":"photo.jpg","filename":"/tmp/photo.jpg","format":"","x":600,"y":380,"wires":[["6b56616.08f6aa"]]},{"id":"75a014c.98be9ec","type":"comment","z":"1d48da06.282e46","name":"Take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.","x":200,"y":38,"wires":[]},{"id":"3c7c43cb.c030ac","type":"switch","z":"1d48da06.282e46","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"purple","vt":"str"},{"t":"cont","v":"pink","vt":"str"},{"t":"cont","v":"party","vt":"str"},{"t":"else"}],"checkall":"true","outputs":8,"x":390,"y":640,"wires":[["92b0a4f.39b5958","909229bc.3af198"],["16f9ca9c.8c25e5"],["46880ed7.ca9a9"],["ed2f1e3e.153e8"],["d9c60a32.6fdac8"],["1e83185.8725be8"],["21cb1382.4c98bc"],["bc512a29.6ee218"]]},{"id":"de784b9d.854f58","type":"rpi-neopixels","z":"1d48da06.282e46","name":"Turn on light","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":1030,"y":640,"wires":[]},{"id":"c7c77a49.ac29b8","type":"debug","z":"1d48da06.282e46","name":"","active":true,"console":"false","complete":"payload","x":1030,"y":740,"wires":[]},{"id":"16f9ca9c.8c25e5","type":"change","z":"1d48da06.282e46","name":"Red Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[["c7c77a49.ac29b8","de784b9d.854f58"]]},{"id":"ed2f1e3e.153e8","type":"change","z":"1d48da06.282e46","name":"Green Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":640,"wires":[["c7c77a49.ac29b8","de784b9d.854f58"]]},{"id":"46880ed7.ca9a9","type":"change","z":"1d48da06.282e46","name":"Blue Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":600,"wires":[["de784b9d.854f58","c7c77a49.ac29b8"]]},{"id":"92b0a4f.39b5958","type":"change","z":"1d48da06.282e46","name":"Yellow Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["c7c77a49.ac29b8","de784b9d.854f58"]]},{"id":"d9c60a32.6fdac8","type":"change","z":"1d48da06.282e46","name":"Purple Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"44,116,163","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["de784b9d.854f58","c7c77a49.ac29b8"]]},{"id":"bc512a29.6ee218","type":"change","z":"1d48da06.282e46","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":880,"wires":[["de784b9d.854f58","c7c77a49.ac29b8"]]},{"id":"909229bc.3af198","type":"trigger","z":"1d48da06.282e46","op1":"40","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":700,"y":480,"wires":[["cced520d.dd031"]]},{"id":"cced520d.dd031","type":"rpi-gpio out","z":"1d48da06.282e46","name":"","pin":"37","set":"","level":"0","out":"pwm","x":1020,"y":480,"wires":[]},{"id":"1e83185.8725be8","type":"change","z":"1d48da06.282e46","name":"Pink Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"8,253,222","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":720,"wires":[["de784b9d.854f58","c7c77a49.ac29b8"]]},{"id":"dd5cc0ae.9a8b5","type":"link in","z":"1d48da06.282e46","name":"","links":["91e0221a.82333"],"x":175,"y":800,"wires":[["3c7c43cb.c030ac","1de69c4b.7c4d14","9b4a7e00.7fe6d"]]},{"id":"21cb1382.4c98bc","type":"function","z":"1d48da06.282e46","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":690,"y":760,"wires":[["de784b9d.854f58"],["4d8ee3e9.e95c2c"]]},{"id":"4d8ee3e9.e95c2c","type":"delay","z":"1d48da06.282e46","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":840,"wires":[["21cb1382.4c98bc"]]},{"id":"adb1eefd.4583e","type":"change","z":"1d48da06.282e46","name":"Classify Image","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"classify","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["b0ac8b45.d60608"]]},{"id":"3a015c6d.a663b4","type":"change","z":"1d48da06.282e46","name":"Extract Text","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"text","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[["b0ac8b45.d60608"]]},{"id":"5b8a2498.485f6c","type":"comment","z":"1d48da06.282e46","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n  node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n  $ sudo npm -g install node-red-node-pi-neopixel\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1110,"y":600,"wires":[]},{"id":"db87c307.3dd54","type":"comment","z":"1d48da06.282e46","name":"node-red-contrib-camerapi dependency","info":"This flow requires\n  node-red-contrib-camerapi\n\nYou can either \n  $ sudo npm -g install node-red-contrib-camerapi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":740,"y":120,"wires":[]},{"id":"70d73ba0.36d524","type":"comment","z":"1d48da06.282e46","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":740,"y":300,"wires":[]},{"id":"ff444eeb.58299","type":"comment","z":"1d48da06.282e46","name":"Paste API keys for Visual Recognition","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":730,"y":340,"wires":[]},{"id":"c001a5a7.d2a168","type":"comment","z":"1d48da06.282e46","name":"node-red-node-base64 dependency","info":"This flow requires\n  node-red-node-base64\n  \nYou can either \n  $ sudo npm -g install node-red-node-base64\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1200,"y":120,"wires":[]},{"id":"1de69c4b.7c4d14","type":"watson-text-to-speech","z":"1d48da06.282e46","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"OMO81CBoOqhH","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":400,"y":980,"wires":[["31a69c25.62a514","aab2c94.e67c738"]]},{"id":"aab2c94.e67c738","type":"play audio","z":"1d48da06.282e46","name":"","voice":"","x":650,"y":960,"wires":[]},{"id":"28f38d74.8d4952","type":"comment","z":"1d48da06.282e46","name":"node-red-contrib-play-audio dependency","info":"This flow requires the\n  node-red-contrib-play-audio\nfor the Browser play audio node.\nYou can either \n  $ sudo npm -g install node-red-contrib-play-audio\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":740,"y":920,"wires":[]},{"id":"f1d8bf29.bab2b","type":"comment","z":"1d48da06.282e46","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":400,"y":1060,"wires":[]},{"id":"8f549a37.6603e8","type":"comment","z":"1d48da06.282e46","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":400,"y":1020,"wires":[]},{"id":"9b4a7e00.7fe6d","type":"debug","z":"1d48da06.282e46","name":"","active":true,"console":"false","complete":"false","x":390,"y":900,"wires":[]},{"id":"31a69c25.62a514","type":"speakerpi-output","z":"1d48da06.282e46","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":680,"y":1000,"wires":[]},{"id":"91074df9.67355","type":"comment","z":"1d48da06.282e46","name":"node-red-contrib-speakerpi dependency","info":"This flow requires the\n  node-red-contrib-speakerpi\nfor the Speaker Pi node.\nYou can either \n  $ sudo npm -g install node-red-contrib-speakerpi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":740,"y":1040,"wires":[]},{"id":"a5dba18a.bc5fc","type":"camerapi-takephoto","z":"1d48da06.282e46","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Pi Camera Photo","x":760,"y":80,"wires":[["cb56d4e4.b477c8"]]},{"id":"2c2d62ff.f0c4ae","type":"ui_button","z":"1d48da06.282e46","name":"","group":"8178d9ca.6a5ad8","order":1,"width":"0","height":"0","passthru":false,"label":"Take a TJBot Raspberry Pi Camera Photo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":80,"wires":[["ab867703.c8e3f8"]]},{"id":"3e83ddb8.40b0d2","type":"ui_button","z":"1d48da06.282e46","name":"","group":"8178d9ca.6a5ad8","order":3,"width":0,"height":0,"passthru":false,"label":"Ask Watson to Read this Photo","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":170,"y":300,"wires":[["3a015c6d.a663b4"]]},{"id":"79d72436.d0626c","type":"ui_button","z":"1d48da06.282e46","name":"","group":"8178d9ca.6a5ad8","order":4,"width":0,"height":0,"passthru":false,"label":"Ask Watson to Summarize this Photo","color":"","bgcolor":"","icon":"","payload":"{\"params\":{\"detect_mode\":\"classify\"}}","payloadType":"json","topic":"","x":190,"y":460,"wires":[["adb1eefd.4583e"]]},{"id":"3669694.a4e0a96","type":"ui_template","z":"1d48da06.282e46","group":"8178d9ca.6a5ad8","name":"Photo","order":2,"width":"0","height":"0","format":"<div ng-bind-html></div>\n<img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1270,"y":160,"wires":[[]]},{"id":"78f60c15.9c5ff4","type":"ui_template","z":"1d48da06.282e46","group":"8178d9ca.6a5ad8","name":"","order":5,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1200,"y":340,"wires":[[]]},{"id":"ef3eb4e5.6bb798","type":"base64","z":"1d48da06.282e46","name":"Encode","x":1120,"y":160,"wires":[["3669694.a4e0a96"]]},{"id":"8178d9ca.6a5ad8","type":"ui_group","z":"","name":"Default","tab":"23bfa839.3cebf8","disp":true,"width":"6"},{"id":"23bfa839.3cebf8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
