nodered/chatbot.json
[{"id":"a784ba94.658878","type":"inject","z":"d6b0bc0a.b6eab","name":"Click here to Start Recording","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":true,"x":190,"y":280,"wires":[["4c0880fa.785f8","8f9db010.d49ac"]]},{"id":"ca1cd73c.fefdc8","type":"inject","z":"d6b0bc0a.b6eab","name":"Click here to Stop Recording","topic":"","payload":"false","payloadType":"bool","repeat":"15","crontab":"","once":false,"x":190,"y":320,"wires":[["4c0880fa.785f8"]]},{"id":"4c0880fa.785f8","type":"microPi","z":"d6b0bc0a.b6eab","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":420,"y":300,"wires":[[],["f3fab3e9.fd676"],[]]},{"id":"f3fab3e9.fd676","type":"watson-speech-to-text","z":"d6b0bc0a.b6eab","name":"","alternatives":"1","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7mld2kuhgL1Z","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":580,"y":300,"wires":[["3b9dea8b.97e7c6","bf4395ba.604d18"]]},{"id":"d9ce910d.4e8fd8","type":"watson-conversation-v1","z":"d6b0bc0a.b6eab","name":"","workspaceid":"a3336fc6-7f9d-4d64-8fb5-8d2cd7a6a602","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":770,"y":420,"wires":[["77804118.21042"]]},{"id":"a99a27c1.a60578","type":"watson-text-to-speech","z":"d6b0bc0a.b6eab","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"OMO81CBoOqhH","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":760,"y":560,"wires":[["560ad177.b07ca"]]},{"id":"404dc1f9.349828","type":"play audio","z":"d6b0bc0a.b6eab","name":"","voice":"","x":1170,"y":560,"wires":[]},{"id":"3b9dea8b.97e7c6","type":"function","z":"d6b0bc0a.b6eab","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["d9ce910d.4e8fd8"]]},{"id":"560ad177.b07ca","type":"function","z":"d6b0bc0a.b6eab","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["404dc1f9.349828"]]},{"id":"77804118.21042","type":"function","z":"d6b0bc0a.b6eab","name":"set payload","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":"1","noerr":0,"x":750,"y":500,"wires":[["a99a27c1.a60578"]]},{"id":"8f9db010.d49ac","type":"change","z":"d6b0bc0a.b6eab","name":"Red Color - Ouvindo","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":487,"wires":[["76fbf07a.1773e"]]},{"id":"bf4395ba.604d18","type":"change","z":"d6b0bc0a.b6eab","name":"Blue Color - Vai falar","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":444,"y":528,"wires":[["76fbf07a.1773e"]]},{"id":"76fbf07a.1773e","type":"rpi-neopixels","z":"d6b0bc0a.b6eab","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":528,"y":452,"wires":[]}]
