nodered/ledparty.flow
[{"id":"d4ccd137.afa8b","type":"function","z":"5084267.a2321d8","name":"Random Color Generation","func":"msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);\nreturn msg;","outputs":1,"noerr":0,"x":634.2857360839844,"y":342.8571472167969,"wires":[["4fe7cca3.6c70f4","3918e585.e2188a"]]},{"id":"d75953a7.433ba","type":"inject","z":"5084267.a2321d8","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"0.3","crontab":"","once":true,"x":394.2857360839844,"y":342.8571472167969,"wires":[["d4ccd137.afa8b"]]},{"id":"4fe7cca3.6c70f4","type":"debug","z":"5084267.a2321d8","name":"","active":true,"console":"false","complete":"false","x":884.2857360839844,"y":362.8571472167969,"wires":[]},{"id":"3918e585.e2188a","type":"rpi-neopixels","z":"5084267.a2321d8","name":"","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":884.2857360839844,"y":302.8571472167969,"wires":[]},{"id":"b02f4f91.b932c","type":"comment","z":"5084267.a2321d8","name":"Blink the TJBot NeoPixel with random party colors","info":"","x":494.2857360839844,"y":302.8571472167969,"wires":[]},{"id":"1c91cb6d.18fd95","type":"comment","z":"5084267.a2321d8","name":"Disable this flow if you want TJBot to blink for other events","info":"If you are using Node-RED v0.17, you can click\non the Flow tab name and enable/disable flows.\n\nThis flow is simple / fun but monopolizes the\nLED.  If you want to use the TJBot NeoPixel\nfor other indicators, you'll want to disable this \nflow.","x":524.2857360839844,"y":382.8571472167969,"wires":[]}]
