nodered/speech.flow
[{"id":"d3d87ab.6fa2b88","type":"watson-speech-to-text","z":"dbe46429.fa7178","name":"","alternatives":"1","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7mld2kuhgL1Z","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":580,"y":180,"wires":[["8381cfbd.a7643","f2922514.27f3b8"]]},{"id":"8381cfbd.a7643","type":"debug","z":"dbe46429.fa7178","name":"","active":true,"console":"false","complete":"transcription","x":830,"y":180,"wires":[]},{"id":"f2922514.27f3b8","type":"switch","z":"dbe46429.fa7178","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"mãozinha","vt":"str"},{"t":"cont","v":"amarelo","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"azul","vt":"str"},{"t":"cont","v":"verde","vt":"str"},{"t":"cont","v":"roxo","vt":"str"},{"t":"cont","v":"rosa","vt":"str"},{"t":"cont","v":"festa","vt":"str"},{"t":"cont","v":"tempo","vt":"str"},{"t":"else"}],"checkall":"true","outputs":10,"x":190,"y":460,"wires":[["f90aacf3.7f689"],["5297508d.39091"],["989213e6.2f317"],["4e99068b.982068"],["3302740a.f07bcc"],["8ff60315.aa74d"],["c0d23337.8620a"],["f90aacf3.7f689","74c80bfe.893e14","aed85681.d06718"],["fb550fc8.94d73"],["33bd1a41.98c3f6"]]},{"id":"f90aacf3.7f689","type":"trigger","z":"dbe46429.fa7178","op1":"40","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":400,"y":320,"wires":[["7c3802f5.4e935c"]]},{"id":"7c3802f5.4e935c","type":"rpi-gpio out","z":"dbe46429.fa7178","name":"","pin":"37","set":"","level":"0","out":"pwm","x":680,"y":320,"wires":[]},{"id":"266c02cb.eeed7e","type":"comment","z":"dbe46429.fa7178","name":"Wave arm or Set LED Color","info":"","x":320,"y":280,"wires":[]},{"id":"fc9b4eb7.68f25","type":"comment","z":"dbe46429.fa7178","name":"Tell the TJBot to Wave or Set a Color or ask for the Weather Report","info":"","x":600,"y":80,"wires":[]},{"id":"6a0ccccd.5f3d14","type":"rpi-neopixels","z":"dbe46429.fa7178","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":700,"y":460,"wires":[]},{"id":"989213e6.2f317","type":"change","z":"dbe46429.fa7178","name":"Red Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["6a0ccccd.5f3d14"]]},{"id":"3302740a.f07bcc","type":"change","z":"dbe46429.fa7178","name":"Green Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[["6a0ccccd.5f3d14"]]},{"id":"4e99068b.982068","type":"change","z":"dbe46429.fa7178","name":"Blue Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[["6a0ccccd.5f3d14"]]},{"id":"5297508d.39091","type":"change","z":"dbe46429.fa7178","name":"Yellow Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[["6a0ccccd.5f3d14"]]},{"id":"8ff60315.aa74d","type":"change","z":"dbe46429.fa7178","name":"Purple Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"238,130,238","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[["6a0ccccd.5f3d14"]]},{"id":"c0d23337.8620a","type":"change","z":"dbe46429.fa7178","name":"Pink Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,192,203","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":560,"wires":[["6a0ccccd.5f3d14"]]},{"id":"bd937be7.2bcab8","type":"comment","z":"dbe46429.fa7178","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n  node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n  $ sudo npm -g install node-red-node-pi-neopixel\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":750,"y":420,"wires":[]},{"id":"124a406.9e6cbc","type":"comment","z":"dbe46429.fa7178","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":820,"y":240,"wires":[]},{"id":"244aec3b.2704b4","type":"comment","z":"dbe46429.fa7178","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":640,"y":120,"wires":[]},{"id":"eec60067.47245","type":"inject","z":"dbe46429.fa7178","name":"Click here to Start Recording","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":180,"y":160,"wires":[["b4f48277.e6262"]]},{"id":"c24103f4.20ee6","type":"inject","z":"dbe46429.fa7178","name":"Click here to Stop Recording","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["b4f48277.e6262"]]},{"id":"33bd1a41.98c3f6","type":"change","z":"dbe46429.fa7178","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":740,"wires":[["6a0ccccd.5f3d14"]]},{"id":"74c80bfe.893e14","type":"function","z":"dbe46429.fa7178","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 50 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":410,"y":640,"wires":[["6a0ccccd.5f3d14"],["b46cc8f6.b8ae88"]]},{"id":"b46cc8f6.b8ae88","type":"delay","z":"dbe46429.fa7178","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":700,"wires":[["74c80bfe.893e14"]]},{"id":"70f8f679.406df8","type":"change","z":"dbe46429.fa7178","name":"Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":760,"wires":[["338662fe.e37c5e"]]},{"id":"338662fe.e37c5e","type":"watson-text-to-speech","z":"dbe46429.fa7178","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"OMO81CBoOqhH","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":800,"y":600,"wires":[["e98de4e5.265598"]]},{"id":"fb550fc8.94d73","type":"wunderground","z":"dbe46429.fa7178","name":"","lon":"","lat":"","city":"Hortolândia","country":"Brazil","x":420,"y":780,"wires":[["70f8f679.406df8","7133d6ce.dc4538"]]},{"id":"7133d6ce.dc4538","type":"debug","z":"dbe46429.fa7178","name":"","active":true,"console":"false","complete":"payload.forecast","x":660,"y":800,"wires":[]},{"id":"e98de4e5.265598","type":"play audio","z":"dbe46429.fa7178","name":"","voice":"","x":990,"y":580,"wires":[]},{"id":"a1c14718.dc4c48","type":"comment","z":"dbe46429.fa7178","name":"node-red-contrib-play-audio dependency","info":"This flow requires the\n  node-red-contrib-play-audio\nfor the Browser play audio node.\nYou can either \n  $ sudo npm -g install node-red-contrib-play-audio\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1080,"y":540,"wires":[]},{"id":"bc7c6e.ab13239","type":"comment","z":"dbe46429.fa7178","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":740,"y":680,"wires":[]},{"id":"2cd8ea64.5345c6","type":"comment","z":"dbe46429.fa7178","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":740,"y":640,"wires":[]},{"id":"c7e805d9.c65b58","type":"comment","z":"dbe46429.fa7178","name":"node-red-node-weather-underground dependency","info":"This flow requires\n  node-red-node-weather-underground\n\nYou can either \n  $ sudo npm -g install node-red-node-weather-underground\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":310,"y":820,"wires":[]},{"id":"c3916a54.196ec8","type":"comment","z":"dbe46429.fa7178","name":"WeatherUnderground API","info":"Visit \n   https://www.wunderground.com/weather/api/\nto get yourself a free developer API key.","x":190,"y":780,"wires":[]},{"id":"b0724d96.0be77","type":"speakerpi-output","z":"dbe46429.fa7178","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":1020,"y":620,"wires":[]},{"id":"aed85681.d06718","type":"change","z":"dbe46429.fa7178","name":"Party msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"TJ Bot is a party animal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":600,"wires":[["338662fe.e37c5e"]]},{"id":"a0500942.7627f8","type":"comment","z":"dbe46429.fa7178","name":"node-red-contrib-speakerpi dependency","info":"This flow requires the\n  node-red-contrib-speakerpi\nfor the Speaker Pi node.\nYou can either \n  $ sudo npm -g install node-red-contrib-speakerpi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1080,"y":680,"wires":[]},{"id":"d0e2a6c7.c33d68","type":"comment","z":"dbe46429.fa7178","name":"node-red-contrib-micropi dependency","info":"This flow requires the\n  node-red-contrib-micropi\nfor the Micro Pi node.\nYou can either \n  $ sudo npm -g install node-red-contrib-micropi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":310,"y":120,"wires":[]},{"id":"b4f48277.e6262","type":"microPi","z":"dbe46429.fa7178","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":400,"y":180,"wires":[[],["d3d87ab.6fa2b88"],[]]}]
