nodered/tonalanyzer.flow
[{"id":"816771b8.8059","type":"debug","z":"70d56a68.1b9704","name":"Tone categories","active":false,"console":"false","complete":"payload","x":980,"y":440,"wires":[]},{"id":"13d3aee5.e91581","type":"function","z":"70d56a68.1b9704","name":"HighScore","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\nvar myscore =  0;     \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n    if(emotions[i].score > myscore)\n    {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n //   node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["b35e17c0.8c1868","c0d55656.21d768"]]},{"id":"b35e17c0.8c1868","type":"debug","z":"70d56a68.1b9704","name":"Score","active":false,"console":"false","complete":"topic","x":950,"y":480,"wires":[]},{"id":"6bcff9aa.06df08","type":"inject","z":"70d56a68.1b9704","name":"Test","topic":"","payload":"I love my mother","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":440,"wires":[["5eff1a5f.be6214"]]},{"id":"f6b9af79.8d0d1","type":"debug","z":"70d56a68.1b9704","name":"Print msg.response","active":false,"console":"false","complete":"response","x":770,"y":400,"wires":[]},{"id":"5eff1a5f.be6214","type":"watson-tone-analyzer-v3","z":"70d56a68.1b9704","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":560,"y":440,"wires":[["dfd33f13.52809","591ff6f0.d0d9f8","13d3aee5.e91581"]]},{"id":"dfd33f13.52809","type":"change","z":"70d56a68.1b9704","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":440,"wires":[["816771b8.8059"]]},{"id":"1e58bb3c.1c9de5","type":"debug","z":"70d56a68.1b9704","name":"","active":false,"console":"false","complete":"tweet.text","x":340,"y":120,"wires":[]},{"id":"c594fae9.43cbe8","type":"inject","z":"70d56a68.1b9704","name":"Teste feliz","topic":"","payload":"I love to live and to love","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["db61d26c.0614"]]},{"id":"db61d26c.0614","type":"change","z":"70d56a68.1b9704","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["ea12c615.3e0628"]]},{"id":"ad74b6d2.e58708","type":"inject","z":"70d56a68.1b9704","name":"Teste triste","topic":"","payload":"This is sad and boring","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["db61d26c.0614"]]},{"id":"bd9d6de7.3e34a","type":"inject","z":"70d56a68.1b9704","name":"Teste Brava","topic":"","payload":"I hate no sense tests","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["db61d26c.0614"]]},{"id":"ea29064c.695bb8","type":"debug","z":"70d56a68.1b9704","name":"","active":false,"console":"false","complete":"payload","x":330,"y":80,"wires":[]},{"id":"f167dc85.e608f","type":"watson-text-to-speech","z":"70d56a68.1b9704","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"OMO81CBoOqhH","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":880,"y":200,"wires":[["66c5ad3c.8880b4","653e6a1e.7cdd84"]]},{"id":"66c5ad3c.8880b4","type":"play audio","z":"70d56a68.1b9704","name":"","voice":"13","x":1090,"y":180,"wires":[]},{"id":"653e6a1e.7cdd84","type":"speakerpi-output","z":"70d56a68.1b9704","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":1120,"y":220,"wires":[]},{"id":"ea12c615.3e0628","type":"function","z":"70d56a68.1b9704","name":"Remove URLS and replace #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["5eff1a5f.be6214"]]},{"id":"89755e00.5e6c6","type":"twitter in","z":"70d56a68.1b9704","twitter":"","tags":"#help","user":"false","name":"","topic":"tweets","inputs":1,"x":100.5,"y":124,"wires":[["ea29064c.695bb8","1e58bb3c.1c9de5","db61d26c.0614"]]},{"id":"c0d55656.21d768","type":"switch","z":"70d56a68.1b9704","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":510,"y":820,"wires":[["cae57dc6.c9c91","6922613f.09e65"],["40d84afa.94b0c4"],["b78e926a.aab42"],["b0d41df8.eb4c9"],["52eadb40.598ac4"],["e8a31bfb.66c1c8"]]},{"id":"cae57dc6.c9c91","type":"trigger","z":"70d56a68.1b9704","op1":"40","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":740,"y":660,"wires":[["c7a85c57.3194d"]]},{"id":"8f400af6.8b4388","type":"rpi-neopixels","z":"70d56a68.1b9704","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":1080,"y":820,"wires":[]},{"id":"40d84afa.94b0c4","type":"change","z":"70d56a68.1b9704","name":"Red Color - Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":740,"wires":[["8f400af6.8b4388"]]},{"id":"b0d41df8.eb4c9","type":"change","z":"70d56a68.1b9704","name":"Green Color - Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":820,"wires":[["8f400af6.8b4388"]]},{"id":"b78e926a.aab42","type":"change","z":"70d56a68.1b9704","name":"Blue Color - Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":780,"wires":[["8f400af6.8b4388"]]},{"id":"6922613f.09e65","type":"change","z":"70d56a68.1b9704","name":"Yellow Color - Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":700,"wires":[["8f400af6.8b4388"]]},{"id":"52eadb40.598ac4","type":"change","z":"70d56a68.1b9704","name":"Purple Color - Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":860,"wires":[["8f400af6.8b4388"]]},{"id":"e8a31bfb.66c1c8","type":"change","z":"70d56a68.1b9704","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":900,"wires":[["8f400af6.8b4388"]]},{"id":"c7a85c57.3194d","type":"rpi-gpio out","z":"70d56a68.1b9704","name":"","pin":"37","set":"","level":"0","out":"pwm","x":1060,"y":660,"wires":[]},{"id":"591ff6f0.d0d9f8","type":"debug","z":"70d56a68.1b9704","name":"","active":false,"console":"false","complete":"false","x":770,"y":540,"wires":[]}]
