nodered/weather.json
[{"id":"7fdfd7e4.18b838","type":"comment","z":"619dd4c6.47a86c","name":"TJ Bot Weather report every 10 minutes","info":"Really should be deployed locally on \nthe TJ Bot Raspberry Pi","x":220,"y":40,"wires":[]},{"id":"95077554.783ec8","type":"change","z":"619dd4c6.47a86c","name":"Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":196,"wires":[["5133447b.f25d9c","acdc2ca1.f23a08"]]},{"id":"8a2d10a3.ff4f6","type":"watson-text-to-speech","z":"619dd4c6.47a86c","name":"falar","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"OMO81CBoOqhH","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":658,"y":273,"wires":[["a8c3998a.b001a8"]]},{"id":"502fcd3b.cb05a4","type":"wunderground","z":"619dd4c6.47a86c","name":"Campinas","lon":"","lat":"","city":"Hortolandia","country":"Brazil","x":300,"y":100,"wires":[["95077554.783ec8","5133447b.f25d9c"]]},{"id":"a8c3998a.b001a8","type":"play audio","z":"619dd4c6.47a86c","name":"","voice":"13","x":662,"y":405,"wires":[]},{"id":"6e9dac0f.845034","type":"comment","z":"619dd4c6.47a86c","name":"node-red-contrib-play-audio dependency","info":"This flow requires the\n  node-red-contrib-play-audio\nfor the Browser play audio node.\nYou can either \n  $ sudo npm -g install node-red-contrib-play-audio\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":650,"y":180,"wires":[]},{"id":"cbf0d5ac.c82ef8","type":"comment","z":"619dd4c6.47a86c","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":220,"y":500,"wires":[]},{"id":"1d76ea84.82b385","type":"comment","z":"619dd4c6.47a86c","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":220,"y":460,"wires":[]},{"id":"1e0d99eb.39be36","type":"comment","z":"619dd4c6.47a86c","name":"node-red-node-weather-underground dependency","info":"This flow requires\n  node-red-node-weather-underground\n\nYou can either \n  $ sudo npm -g install node-red-node-weather-underground\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":250,"y":140,"wires":[]},{"id":"6e84d923.910b58","type":"comment","z":"619dd4c6.47a86c","name":"WeatherUnderground API","info":"Visit \n   https://www.wunderground.com/weather/api/\nto get yourself a free developer API key.","x":170,"y":180,"wires":[]},{"id":"58d63886.cbb678","type":"comment","z":"619dd4c6.47a86c","name":"node-red-contrib-speakerpi dependency","info":"This flow requires the\n  node-red-contrib-speakerpi\nfor the Speaker Pi node.\nYou can either \n  $ sudo npm -g install node-red-contrib-speakerpi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":600,"y":340,"wires":[]},{"id":"fa75a00c.2684f","type":"inject","z":"619dd4c6.47a86c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":130,"y":80,"wires":[["502fcd3b.cb05a4"]]},{"id":"5133447b.f25d9c","type":"debug","z":"619dd4c6.47a86c","name":"","active":true,"console":"false","complete":"payload","x":597.5,"y":114,"wires":[]},{"id":"acdc2ca1.f23a08","type":"watson-translator","z":"619dd4c6.47a86c","name":"","action":"translate","basemodel":"es-en","domain":"conversational","srclang":"en","destlang":"pt","password":"xhY2jPqufc2Y","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":448.5,"y":270,"wires":[["8a2d10a3.ff4f6","5133447b.f25d9c"]]}]
